/* CSS IDEA - on last page, turn cursor into the TMNT Character */
/* Maybe use the TMNT finger point as the finger pointer */

/* Individual Turtles Color Codes

Current:
Leo Skin: #8A9E3D 138 158 61
Leo Mask: #255D98 37 93 152

Don Skin: #A5A744 165 167 68
Don Mask: #6F6B9D 111 107 157

Mike Skin: #3C7059 60 112 89
Mike Mask: #F19A3D 241 154 61

Raph Skin: #1C5D35 28 93 53
Raph Mask: #E8413B 232 65 59 */

body {
  background-color: #413D3D;
}

.grid {
  width: 700px;
  height: 1200px;
  margin: 0 auto;
  background-color: #000000;
  padding: 10px 50px 50px 50px;
  border: 2px solid #cbcbcb;
  font-size: 20px;
  color: #8FD129;
}

.grid h1 {
  font-family: "sans-serif";
  background-color: #ED1C24;
  font-size: 60px;
  text-align: center;
  color: #ffffff;
  padding: 2px 0px;
}

#score {
  color: #8FD129;
  text-align: center;
  font-size: 30px;
}

.grid #question {
  font-family: "monospace";
  font-size: 26px;
  font-size: 2vw;
  color: #8FD129;
}

.buttons {
  margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3 {
  background-color: #8FD129;
  width: 300px;
  font-size: 20px;
  font-size: 2vw;
  color: #fff;
  border: 2px solid #ED1C24;
  margin: 10px 40px 10px 0px;
  padding: 10px 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
  cursor: pointer;
  background-color: #ED1C24;
  font-size: 20px;
  color: black;
  border: 2px solid #8FD129;
  margin: 10px 40px 10px 0px;
  padding: 10px 10px;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
  outline: 0;
}

#progress {
  color: #8FD129;
  font-size: 18px;
}

#image {
  image-orientation: center;
  object-fit: cover;
  max-width:100%;
  height:auto;
}


/* wrap question id div so it has a fixed height, hgt = 200px */